<nav class="sidebar">
    <div class="sidebar-header">
        <h2>Medi<span>Store</span></h2>
        <h6>ADMIN PANEL</h6>
    </div>

    <h5 class="sub-title">Main</h5>
    <ul class="nav-links">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
    <h5 class="sub-title">Store</h5>
    <ul class="nav-links">
        <li><a href="#">View Store</a></li>
        <li><a href="#">Store Map</a></li>
    </ul>
</nav>
