<div class="top-bar">
  <div class="top-bar-left">
    <span><i class="fas fa-phone"></i> {{ settingsService.getPhone() }}</span>
    <span routerLink="/location" style="cursor: pointer;"><i class="fas fa-map-marker-alt"></i> Find a store</span>
  </div>

  <div class="top-bar-right">
    <span><i class="fas fa-clock"></i> Mon-Sat 8am-9pm · Sun 9am-6pm</span>
  </div>
</div>


<header class="main-header">

  <div class="logo">
    <div class="logo-text">
      {{ settingsService.getStoreName() }}
      <small>PHARMACY</small>
    </div>
  </div>

  @if (isLoggesIn) {
    <div class="search-bar-container">
      <input
        type="text"
        placeholder="Search medicines, vitamins, brands..."
        class="search-input"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
      >

      <i class="fas fa-search search-icon" (click)="onSearch()"></i>
    </div>
  }

  <div class="header-actions">

    <button class="action-btn" routerLink="/home">Home</button>

    @if (isLoggesIn && isAdmin) {
      <button class="action-btn" routerLink="/admin/settings">Dashboard</button>
    }

    <button class="action-btn" routerLink="/location">
      Location
    </button>

    <button class="action-btn" routerLink="/about-us">
      About Us
    </button>

    <button class="action-btn" routerLink="/contact-me">
      Contact Me
    </button>

    @if (isLoggesIn) {

      <button class="notification-btn">
        <i class="fa-solid fa-bell"></i>
      </button>

      @if (!isAdmin) {
        <button (click)="toggleCart()" class="cart-btn" style="position: relative;">
          <i class="fas fa-shopping-cart"></i>
          <span *ngIf="cartService.cartCount() > 0" style="position: absolute; top: -5px; right: -5px; background-color: #ef4444; color: white; border-radius: 50%; padding: 2px 6px; font-size: 0.7rem; font-weight: bold; min-width: 18px; text-align: center;">
            {{ cartService.cartCount() }}
          </span>
        </button>
      }

      <button class="logout-btn" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>

    } @else {

      <button class="admin-btn" routerLink="/auth/login">
        <i class="fa-solid fa-user"></i>
      </button>

    }

  </div>

</header>